@font-face {
    font-family: Trivenia;
    src: url("TriveniaRegular-d92YR.ttf");
}

body{
    margin: 0;
    padding: 0;
    background-color: #609DA0 !important;
}

header{
    width: 100%;
    background-color: #122927;
    padding: 1%;
}

nav{
    font-family: Trivenia;
}

nav div{
    display: flex;
}

nav div a{
    color: white !important;
}

nav div ul, footer ul{
    display: flex;
    list-style-type: none;
}

nav div ul li, footer ul li{
    padding: 0 5%;
}

nav div ul li a, footer ul li a{
    text-decoration: none;
    font-size: 2.5vw;
    color: white;
    font-family: Trivenia;
}

nav div ul li a:hover, footer ul li a:hover{
    color: #0D5B5D !important;
}

hr{
    visibility: hidden;
}

form{
    display: table;
    margin: 0 auto 10% auto;
}

form label{
    font-size: 3vw;
    font-family: Trivenia;
    color: #122927;
}

form input, form textarea{
    resize: none;
    border: none;
    width: 100%;
    font-size: 2vw;
    background-color: black;
    color: white;
    padding: 3%;
    font-family: Trivenia;
}

form input::placeholder, form textarea::placeholder{
    color: white;
}

form button{
    width: 50%;
    padding: 3%;
    background-color: #122927;
    color: #609DA0;
    font-family: Trivenia;
    font-size: 2.5vw;
}

form button:hover{
    background-color: black;
    color: white;
}

footer{
    background-color: #122927;
    color: white;
    width: 100%;
    padding: 5%;
}

footer h4{
    font-size: 3vw;
    display: table;
    margin: 0 auto;
    font-family: Trivenia;
}


#inicio{
    margin: 2% 7%;
}

#inicio div img{
    height: 35vw;
}

#caracteristicas{
    margin: 4%;
}

#caracteristicas div, #moda div{
    display: table;
    margin: 0 auto;
}

#caracteristicas div button{
    background-color: black;
    font-family: Trivenia;
    font-size: 2vw;
}

#caracteristicas h2, #historia h2, #moda h2, #contacto h2{
    display: table;
    margin: 10% auto;
    background-color: #122927;
    color: #609DA0;
    padding: 5%;
    border-radius: 50%;
    font-family: Trivenia;
    font-size: 3vw;
}

.hipster1 h5, .hipster2 h5{
    font-size: 3vw !important;
    color: #0D5B5D !important;
    font-weight: bolder;
    font-family: Trivenia;
}

.hipster1 p, .hipster2 p{
    font-size: 2vw !important;
    color: #0D5B5D;
    text-align: justify;
    font-family: Trivenia;
}

.hipster1{
    margin-right: 55% !important;
}

.hipster2{
    margin-left: 55% !important;
}

.navbar-brand{
    font-size: 4vw !important;
}

.offcanvas-title{
    font-size: 3vw !important;
}

.nav-link{
    font-size: 2vw !important;
    text-align: justify;
}

.tooltip{
    font-size: 1.5vw !important;
    font-family: Trivenia !important;
}

.accordion-header button{
    font-size: 2vw !important;
    padding: 3%;
    font-family: Trivenia;
}

.accordion-item{
    margin: 2% 15%;
    background-color: black !important;
}

.accordion-body{
    font-size: 1.5vw !important;
    color: white;
    text-align: justify;
    font-family: Trivenia;
}

.moda-hipster{
    margin: 0 10% !important;
}

.moda-hipster img{
    height: 20vw;
}

.moda-hipster .card-body{
    color: white;
    background-color: black;
}

.moda-hipster .card-text{
    font-size: 1.6vw !important;
    font-family: Trivenia;
}